.table {
  display: grid;
  border: solid 2px #ffffff;
  border-radius: 10px;
  width: 80vw;
  max-width: 400px;
}
.table .header {
  border-bottom: solid 2px #ffffff;
  display: grid;
  place-items: center;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

.table .body {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

.table .body .row {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
}

.table .body .row button {
  border-radius: 4px;
  border: solid 2px #ffffff;
  color: #ffffff;
  background: transparent;
  outline: transparent;
  cursor: pointer;
}

.table .body .row button:active {
  color: #282c34;
  background: #ffffff;
  transition: background 0.3s, color 0.3s;
}

/* .table .body .row button:active{ 
    border-color: #ffffff;
    color: #ffffff;
    background: transparent;
} */
