.table {
  display: grid;
  border: solid 2px #ffffff;
  border-radius: 10px;
  width: 80vw;
  max-width: 400px;
}
.table .header {
  border-bottom: solid 2px #ffffff;
  display: grid;
  place-items: center;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}