.row {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
}
.row button {
    border-radius: 4px;
    border: solid 2px #ffffff;
    color: #ffffff;
    background: transparent;
    outline: transparent;
    cursor: pointer;
  }
.row button:active {
  color: #282c34;
  background: #ffffff;
  transition: background 0.3s, color 0.3s;
}